.row {
    background-color: black;
    position: relative;
    color: white;
    padding: 1vw 2rem;

    .row-head {
        font-size: 1.3rem;
        font-weight: 200;
        padding: 5px;
    }

    .cards-container {
        padding: 1rem 0;
        display: flex;
        overflow-x: auto;
        overflow-y: visible;
        position: relative;


    }
}