.card{
    
        box-shadow: 0 0 5px 0px rgb(32, 32, 32);
        width: 175px;
        margin: 4.5px;
        border-radius: 3px;
        outline: none;
        transition: 0.2s;
    &:hover{
        transform:  scale(1.08) translateY(-5px);
    }
}
