.header {
    height: 4vw;
    background-color: rgba(0, 0, 0, 0.979);
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px 5px 20px 0px rgb(24 24 24 / 80%);
    z-index: 10; // Ensure header stays on top
    position: relative;


    .left {
        width: 10%;

        margin-left: 1vw;
        display: flex;
        align-items: center;

        img {
            height: 2.5vw;
        }

        .logo-sta {
            margin-left: 4px;
            color: white;
        }

        .logo-movies {
            color: rgb(165, 249, 255);
        }
    }

    .middle {
        width: 50%;

        .nav-links {
            margin: 0 2vw;
            font-size: 1.3vw;
            font-weight: 300;
            transition: 0.3s;

            &:hover {
                color: rgb(108, 205, 250)
            }
        }

    }

    .right {

        display: flex;
        align-items: center;


        svg {
            color: white;
            font-size: 1.8vw;
            transition: 0.2s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                color: rgb(108, 205, 250);
            }
        }

    }

}